electron-app/node_modules
electron-app/package-lock.json
electron-app/dist
electron-app/out
electron-app/*.log*
electron-app/src/renderer/src/core
electron-app/src/main/Core

core-renderer/node_modules
core-renderer/package-lock.json

core-test/renderer
core-test/node_modules
core-test/package-lock.json

core-main/node_modules
core-main/package-lock.json

core-shared/node_modules
core-shared/package-lock.json

electron-app-test/app
electron-app-test/node_modules
electron-app-test/package-lock.json

extension/node_modules
extension/package-lock.json
extension/lib/Main
extension/lib/Renderer

New_Distribution_Provisioning_Profile.provisionprofile
New_Development_Profile.provisionprofile
Developer_ID_Application_Profile.provisionprofile
make_output.txt

# Environment variables
.env