electron-app/node_modules
electron-app/dist
electron-app/out
electron-app/*.log*
electron-app/src/renderer/src/core
electron-app/src/main/Core

core-renderer/node_modules

core-renderer/test/src/core
core-renderer/test/node_modules

core-main/node_modules
