.lockFade-enter-active,
.lockFade-leave-active {
	transition: opacity 1s linear;
	/* z-index: 100; */
}

.lockFade-enter-from,
.lockFade-leave-to {
	opacity: 0;
	/* z-index: 100; */
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s linear;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.addObjectFade-enter-active,
.addObjectFade-leave-active {
	transition: opacity 0.2s linear;
}

.addObjectFade-enter-from,
.addObjectFade-leave-to {
	opacity: 0;
}